* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* base ====> base.scss */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #272727;
  font-size: 1.6rem;
  padding: 1.5rem 2rem; }

/* layout    header */
.header {
  height: 95vh;
  background-image: url(../Image/le-bardo-5.jpg);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 83%, 50% 100%, 0 82%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 83%, 50% 100%, 0 82%, 0 0);
  background-size: cover;
  background-position: center;
  /* animation: slide 2s infinite; */ }
  .header__container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1.5rem 3rem rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    background-color: #272727;
    padding: 1rem;
    color: #fff; }
  .header__container--item1 {
    font-size: 2rem;
    margin-left: 9rem;
    font-family: 'Srisakdi', cursive;
    border: solid;
    transition: all .3s linear; }
    .header__container--item1:hover {
      transform: scale(1.4);
      color: #ff6600;
      border-radius: 4px;
      box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.8);
      font-size: 5rem;
      margin-left: 9rem;
      font-family: 'Srisakdi', cursive;
      border: #99ff33 solid; }
  .header__link {
    list-style-type: none;
    display: flex; }
  .header__link-li {
    margin-right: 15rem;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 3px;
    text-decoration: none;
    transition: all .3s linear; }
    .header__link-li:hover {
      color: #ff6600;
      transform: scale(1.4);
      border-radius: 0 1.5rem 4rem rgba(255, 255, 255, 0.1); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    text-align: center; }

.heading__primary {
  color: #ffc600;
  font-size: 8rem;
  transition: 0.5s; }

.heading__primary span {
  position: relative;
  text-transform: uppercase;
  display: block;
  transition: 0.5s; }

.heading__primary span:nth-child(1):before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: 2.5rem;
  background: #f00;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1; }

.heading__primary:hover span:nth-child(1):before {
  transform: scaleX(1); }

.heading__primary span:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 2.5rem;
  background: #f00;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1; }

.heading__primary:hover span:nth-child(2):before {
  transform: scaleX(1); }

.heading__primary span hide {
  transition: 0.5s;
  transition-delay: 1s; }

.heading__primary:hover span hide {
  transition-delay: 1s;
  color: #f00;
  opacity: 0; }

.heading__primary:hover span:nth-child(1) hide {
  padding-right: 3rem; }

.heading__primary:hover span:nth-child(2) hide {
  padding-right: 4rem; }

.heading-secondary {
  color: #ffc600;
  font-family: 'Tangerine', cursive;
  font-size: 5rem; }

/* 
@keyframes slide{
    25%{
        background-image:  url(image/le-bardo-6.jpg); 
    }
    50%{
        background-image:  url(image/le-bardo-7.jpg); 
    }
    75%{
        background-image:  url(image/le-bardo-9.jpg); 
    }
    100%{
        background-image:  url(image/le-bardo-10.jpg); 
    }
} */
/* component button  */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .3s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn__white {
  background-color: #ff6600;
  color: #000; }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn__white::after {
  background-color: #ff6600; }

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn__animated {
  animation: moveintop .8s ease-out; }

@keyframes moveintop {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* 
sectiion_about */
.section-about {
  background-color: #ebebe0;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15rem 0;
  margin-top: -7.5rem; }

.header-section-about {
  padding: 5rem 0;
  text-align: center; }

.flexbox {
  display: flex;
  height: 60vh; }

.box1 {
  flex: 1; }

.box2 {
  flex: 1;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 102, 0, 0.8);
  font-size: 2.2rem;
  margin: 8rem 6rem 0rem 6rem;
  text-align: center; }

.flexbox2 {
  display: flex;
  position: absolute;
  top: 10rem;
  left: 40%;
  width: 78rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 102, 0, 0.8);
  padding: 5rem;
  z-index: 10000;
  column-rule: 1px solid #ff6600; }

.box2-1 {
  column-rule: 1px solid #ff6600; }

.box2-2 {
  column-rule: 1px solid #ff6600; }

.box2-3 {
  column-rule: 1px solid #ff6600; }

.heading-tertiary {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  color: #ffc600; }
  .heading-tertiary__sub {
    font-size: 3.2rem; }

.paragraph {
  margin-top: 8rem; }

.aboutus:link, .aboutus:visited {
  color: #ffc600;
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  margin-top: 6.5rem;
  transition: all .2s; }

.aboutus:hover {
  background-color: #ff6600;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(39, 39, 39, 0.15);
  transform: translateY(-2px); }

.aboutus:active {
  box-shadow: 0 0.5rem 2rem rgba(39, 39, 39, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 42%;
    border-radius: 100%;
    box-shadow: 0 1.5rem 4rem rgba(255, 102, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      top: 3rem;
      left: 12rem; }
    .composition__photo--p2 {
      top: 9rem;
      right: 11.2rem; }
    .composition__photo--p3 {
      top: 24rem;
      left: 27%; }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.5);
      box-shadow: 0 2.5rem 4rem rgba(255, 102, 0, 0.5); }

.menu-section {
  background-color: #99ff33;
  padding: 15rem 0; }

.flexbox3 {
  display: flex;
  height: 60vh;
  justify-content: center;
  margin-top: 10rem; }

.boxes {
  margin-right: 7rem;
  background-image: url(../Image/wood.jpg);
  background-position: center;
  background-size: cover;
  width: 40rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(255, 102, 0, 0.4);
  transition: all .2s;
  display: flex;
  /* use nesting in flexbox and the item be the container */
  flex-direction: column;
  justify-content: flex-end;
  animation: move .3s ease-out; }
  .boxes:hover {
    transform: scale(1.2); }

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.best-header {
  font-family: 'Tangerine', cursive;
  color: #ff6600;
  font-size: 5rem; }
  .best-header__sub {
    font-size: 2.3rem; }

.header-menu-section {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 7rem;
  color: #ff6600; }

.grid-section {
  background: #000; }

.grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 25rem);
  grid-auto-rows: 32rem;
  grid-gap: 0.1rem;
  margin: auto;
  padding-top: 15rem;
  transition: all .2s; }
  .grid__item {
    position: relative;
    background: #00001a;
    transition: .5s;
    overflow: hidden; }
    .grid__item:before {
      content: '';
      position: absolute;
      top: -100%;
      left: 0;
      width: 50%;
      height: 100%;
      background: #00001a;
      z-index: 1;
      transition: 0.5s; }
    .grid__item:after {
      content: '';
      position: absolute;
      bottom: -100%;
      right: 0;
      width: 50%;
      height: 100%;
      background: #00001a;
      z-index: 1;
      transition: 0.5s; }
    .grid__item--01 {
      background-image: url(../Image/01.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--02 {
      background-image: url(../Image/02.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--03 {
      background-image: url(../Image/03.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--04 {
      background-image: url(../Image/04.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--05 {
      background-image: url(../Image/05.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--06 {
      background-image: url(../Image/06.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--07 {
      background-image: url(../Image/07.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--08 {
      background-image: url(../Image/08.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--09 {
      background-image: url(../Image/09.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--10 {
      background-image: url(../Image/10.jpg);
      background-size: cover;
      background-position: center; }
    .grid__item--11 {
      background-image: url(../Image/11.jpg);
      background-size: cover;
      background-position: center;
      grid-column: 1/-1; }

.grid:hover .grid__item:before {
  top: 0; }

.grid:hover .grid__item:after {
  bottom: 0;
  transition-delay: 0.5s; }

.grid .grid__item:hover:before {
  top: -100%; }

.grid .grid__item:hover:after {
  bottom: -100%; }

.reserve-section {
  height: 95vh;
  padding-top: 5rem;
  background-image: url(../Image/reserve.jpg);
  background-size: cover;
  background-position: center;
  transition: all .2s; }

.book {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1.5rem 4rem rgba(255, 102, 0, 0.4);
  border-radius: 3px;
  height: 34rem;
  width: 65rem;
  float: right;
  margin-top: 30rem; }

.form {
  margin: 14rem  18rem;
  position: relative; }
  .form__header {
    position: absolute;
    top: -9rem;
    left: -3rem;
    font-size: 2rem;
    color: #272727; }
    .form__header--sub {
      position: absolute;
      top: -8rem;
      left: -14rem;
      color: #ff6600;
      font-family: 'Tangerine', cursive;
      font-size: 9rem; }
  .form__paragraph {
    font-size: 4rem;
    color: #272727; }
  .form__input {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    color: #fff;
    border-radius: 100px;
    border: 3px solid #272727;
    background-color: rgba(255, 102, 0, 0.9);
    display: block;
    margin-bottom: 9px;
    margin-right: 9px; }
  .form__flex {
    display: flex;
    margin-right: 5px; }

.footer {
  background-color: black;
  color: white;
  font-size: 1.7rem;
  z-index: 1; }

.bar {
  height: 10rem;
  width: 100%;
  background: #ffc600;
  z-index: 2; }

.bar h1 {
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.layouts {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 2rem;
  text-align: center;
  flex: 1; }

ul, li {
  list-style-type: none; }

.copyright {
  text-align: center;
  padding: 10rem; }
